<div class="container mt-4">
  <div class="lesson-header">
    <h2>{{ lesson?.title }}</h2>
  </div>

  <div class="lesson-video" *ngIf="lesson?.videoUrl">
    <iframe
      width="100%"
      height="480"
      [src]="getEmbedUrl(lesson.videoUrl)"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
  <h4 *ngIf="!lesson?.videoUrl">No Video available right now.</h4>

  <div class="lesson-content mt-4">
    <p>{{ lesson?.content }}</p>

    <div *ngIf="lesson?.attachmentUrl">
      <a [href]="lesson?.attachmentUrl" download> Download Attachment </a>
    </div>
  </div>

  <div class="lesson-actions mt-4 d-flex justify-content-between">
    <button
      class="btn"
      [ngClass]="{ 'btn-primary': !isCompleted, 'btn-success': isCompleted }"
      (click)="markAsComplete()"
      [disabled]="isCompleted"
    >
      {{ isCompleted ? "✔ Completed" : "Mark as Complete" }}
    </button>
    <div>
      <button
        class="btn btn-secondary"
        [disabled]="previousLessonId == ''"
        (click)="previousLesson()"
      >
        Previous Lesson
      </button>
      <button
        class="btn btn-secondary ml-2 mr-1"
        (click)="nextLesson()"
        [disabled]="!isCompleted || nextLessonId == ''"
      >
        {{ isCompleted ? "Next Lesson →" : "Next Lesson" }}
      </button>
      <button class="btn btn-primary ml-2 mr-1" (click)="backToCourse()">
        Back to Course
      </button>
    </div>
  </div>
</div>
