<div class="main-container">
  <div class="header-container">
    <div class="main-header">
      <div class="main-header-left-section">
        <div class="image-container">
          <img
            class="page-logo"
            src="../../assets/logos/owl-bird-icon.svg"
            alt="logo"
          />
        </div>
      </div>
      <div class="main-header-right-section">
        <button class="action-button">Home</button>
        <button class="action-button">All Courses</button>
        <button class="action-button">About</button>
        <button class="action-button">Contact</button>
        <button class="action-button">Register</button>
        <button class="action-button">Log In</button>
      </div>
    </div>
  </div>
  <!-- <button (click)="logout()" class="btn btn-danger">Logout</button>
    <button (click)="getAllUsers()">Get All Users</button> -->
</div>
