<div class="container mt-4">
  <div class="jumbotron text-center">
    <h1 class="display-4" style="color: var(--primary-color)">
      Welcome to LearnHub!
    </h1>
    <p class="lead" style="color: var(--text-color)">
      Login Or Register to start navigate courses!
    </p>
    <hr class="my-4" />
    <p>
      <a class="btn btn-primary btn-lg mr-2" href="/login" role="button"
        >Login</a
      >
      <a class="btn btn-secondary btn-lg" href="/register" role="button"
        >Register</a
      >
    </p>
  </div>

  <div class="row">
    <div
      class="col-md-4 card-container"
      (click)="showSnackbar()"
      *ngFor="let course of randomCourses"
    >
      <div class="card mb-4 shadow-sm">
        <img
          [src]="'../../assets/course-images/' + course.imageUrl + '.png'"
          class="card-img-top"
          alt="Course Image"
        />
        <div class="card-body">
          <h5 class="card-title">{{ course.title }}</h5>
          <p class="card-text" style="height: 80px">{{ course.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
